.default-hero,.room-hero{
    width: 100%;
    min-height: 550px;
    position: relative;
    display: flex;justify-content: center;
    align-items: center;
    background: url("../../images/defaultBcg.jpeg") no-repeat center;
    background-size: cover;
}
.room-hero{
    background: url("../../images/room-1.jpeg") no-repeat center;
    background-size: cover;
}
@media(max-width:578px){
    .default-hero,.room-hero{
        min-height: 350px;
    }
}