.bannar{
    background-color: rgba(2, 2, 2, 0.6);
    padding: 40px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.bannar .title{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
}
.bannar .title::after{
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #c1a77ab5;
    position: absolute;
    left: 50%;
    margin-left: -63px;
    bottom: -17px;

}

.bannar .subtitle{
    margin-top: 30px;
    color: #fafafad6;
    letter-spacing: 3px;
}

.bannar-page{
    background-color: rgba(2, 2, 2, 0.2);
    padding: 40px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.bannar-page .title{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
}
@media  (max-width:578px){
    .bannar,.bannar-page{padding: 20px;}
    .bannar .title,
    .bannar-page .title{font-size: 26px;}
}